@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
body {
  font-family: "Figtree", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #f4d04e;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  height: 522px;
  width: 384px;
  border-radius: 20px;
  filter: drop-shadow(8px 8px 0px #000000);
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card > img {
  margin-top: 24px;
  border-radius: 10px;
}
.info-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 25px 30px 20px 20px;
}
.category {
  background-color: #f4d04e;
  padding: 4px 12px;
  border-radius: 4px;
  width: auto;
}

.category > p {
  font-size: 0.88rem;
}

.category > p {
  font-weight: 900;
}

.published {
  margin-top: 10px;
  font-weight: 600;
  font-size: 0.88rem;
}

.info-container > h3 {
  font-weight: 800;
  font-size: 1.5rem;
  margin-top: 10px;
}

.paragraph {
  color: #7f7f7f;
  margin-top: 15px;
  font-weight: 500;
}

.user-container {
  display: flex;
  align-self: flex-start;
  margin-left: 20px;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
}

.user-container > img {
  width: 32px;
  height: auto;
}

.user-container {
  font-weight: 600;
}
